* {
  box-sizing: border-box;
/*  outline: 1px black solid;*/
}

html, body {
  margin: 0;
}

body {
  background-color: darkslategray;
  background-image: url("../images/black-paper.png");
  height: 100%;
}


/*********************
**** MAIN STYLING ****
*********************/

main {
  height: 100%;
/*  background-color: lightgray;*/
  display: flex;
  justify-content: space-around;
  align-items: center;
/*  background-color: darkslategray;
  background-image: url("../images/black-paper.png");*/
  position: relative;
}

#main-landing {
  display: flex;
  flex-direction: column;
  max-width: 299px;
/*  background-color: lightgray;*/
  font-family: 'Julius Sans One', sans-serif;
  text-align: center;
  color: lightgray;
}

#main-landing h2, #main-landing h3,
#main-landing h4 {
  margin: .5em 0;
}

#main-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#main-head div {
  width: 50%;
}

#main-head #first-name {
  order: 1;
  padding-left: 2px;
}

#main-head #first-name h1 {
/*  text-align: right;*/
  font-size: 2.5em;
}

#main-head #last-name {
  order: 2;
  padding-right: 2px;
}

#main-head #last-name h1{
/*  text-align: left;*/
  font-size: 2.5em;
}

#main-head img {
  width: 150px;
  height: 150px;
  order: 0;
  margin: 0 auto;
}

/* display:none; for fade in */

#main-head div, #main-head img,
#main-landing h2, #main-landing h3,
#main-landing h4, #contact a,
#copyright {
  display: none;
}



/*********************
*** FOOTER STYLING ***
*********************/

#footer-basic {
  position: absolute;
  bottom: 0; left: 0;
  width: 100%;
/*  margin: 0;*/
}

#contact {
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around;
/*  margin: 0 auto;*/
}

#contact i {
  color: lightgray;
/*  width: 20%;*/
}

#contact i:hover {
  color: white;
}

#copyright {
  margin: 0;
  color: darkgray;
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: 400;
  font-size: .5em;
}

/*.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  }*/





@media screen and (min-width: 600px) {

  #main-landing {
    max-width: initial;
    width: 450px;
  }

  #main-head #first-name,
  #main-head #last-name,
  #main-head img {
    order: 0;
  }

  #main-head img {
    margin: 0;
  }

  #main-head #first-name h1 {
    text-align: right;
    font-size: 2.5em;
  }

  #main-head #last-name h1{
    text-align: left;
    font-size: 2.5em;
  }

  #main-head div {
    width: 33%;
  }

  #main-head {
    display: flex;
    justify-content: space-around;
  }

  #contact {
    width: 70%;
    margin: 0 auto;
/*    max-width: 450px;*/
  }
}
