* {
  box-sizing: border-box;
/*  outline: 1px black solid;*/
}

html, body {
  margin: 0;
}


/*********************
**** MAIN STYLING ****
*********************/

main {
  height: 100vh;
/*  background-color: lightgray;*/
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: darkslategray;
  background-image: url("https://www.transparenttextures.com/patterns/black-paper.png");
  position: relative;
}

#main-landing {
  display: flex;
  flex-direction: column;
  max-width: 299px;
/*  background-color: lightgray;*/
  font-family: 'Julius Sans One', sans-serif;
  text-align: center;
  color: lightgray;
}


#main-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#main-head div {
  width: 50%;
}

#main-head #first-name {
  order: 1;
  padding-left: 2px;
}

#main-head #first-name h1 {
/*  text-align: right;*/
  font-size: 2.5em;
}

#main-head #last-name {
  order: 2;
  padding-right: 2px;
}

#main-head #last-name h1{
/*  text-align: left;*/
  font-size: 2.5em;
}

#main-head img {
  width: 150px;
  height: 150px;
  order: 0;
  margin: 0 auto;
}



/*********************
*** FOOTER STYLING ***
*********************/

#contact {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#contact i {
  color: lightgray;
}






@media screen and (min-width: 442px) {

  #main-landing {
    max-width: initial;
    width: 450px;
  }

  #main-head #first-name,
  #main-head #last-name,
  #main-head img {
    order: 0;
  }

  #main-head img {
    margin: 0;
  }

  #main-head #first-name h1 {
    text-align: right;
    font-size: 2.5em;
  }

  #main-head #last-name h1{
    text-align: left;
    font-size: 2.5em;
  }

  #main-head div {
    width: 33%;
  }

  #main-head {
    display: flex;
    justify-content: space-around;
  }

  #contact {
    width: 70%;
    max-width: 450px;
    padding-bottom: 10px;
  }
}
